<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About the Server</h1>

    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi impedit sint modi nostrum ullam aliquam libero, qui vel quaerat temporibus. Deserunt delectus voluptatibus recusandae sint, ab id quas voluptatem a.</p>

    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsam odit quas illo vitae dolorem hic consequuntur, aut, quam, a eos odio dolorum fugiat praesentium beatae ea id nobis veritatis!</p>

    <li>
        <ul>Big</ul>
        <ul>Small</ul>
        <ul>Bigger</ul>
    </li>
    
</body>
</html>